.history-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 10px auto;
  width: 95%;
  border-radius: 18px;
}

.form-history{
  margin: 30px auto;
  margin-bottom: 50px;
  background-color: #138a0f;
  border: 2px solid gray;
  padding: 34px;
  border-radius: 24px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  align-items: center;
}