.history-month {
  display: flex;
  flex-direction: column;
  margin: 0px auto 10px auto;
  width: 95%;
  border-radius: 18px;
}

.history-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #3E4854;
  border: 0.0625rem solid #373a40;
  margin: 30px auto;
  margin-bottom: 50px;
  padding: 34px;
  border-radius: 24px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.history-form-select{
  border-radius: 1px;
  border: solid 1px #D0D5DA;
  width: fit-content;
  height: 27px;
  background: white;
  margin-right: 110px;
}

.history-clean-button{
    width: fit-content;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px #D0D5DA;
    background-color:#373a40;
    height: 40px;
}

.highlight-link {
  display: inline-block; /* Garante que o elemento se comporte como um bloco, mas permaneça dentro do fluxo de texto */
  margin-bottom: 20px; /* Espaçamento inferior para separar dos elementos vizinhos */
}

.highlight-link__button {
  display: inline-block;
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  text-decoration: none; /* Remove sublinhado do link */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.highlight-link__button:hover {
  background-color: #45a049; /* Cor de fundo do botão ao passar o mouse */
}
