.context-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    padding-bottom: 5%;
}

.context-highlight .h1-title {
    color: #138a0f;
    font-size: 3.5rem ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

.main-highlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}

.div-highlight {
    display: flex;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background-color: rgba(77, 247, 16, 0.562);
}

.li-highlight {
    display: flex;
    width: 48%;
}

.div-student {
    margin: 60px 0;
}

.div-highlight .img-person {
    width: 180px;
    height: 180px;
    border-radius: 45%;
    margin-bottom: 12px;
    align-items: center;
}

.div-highlight .info-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    margin-left: 30px;
}

.flex-justify {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.flex-justify a {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.div-highlight .social-logo {
    height: 40px;
    width:  auto;
}

.div-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.img-port {
    height: 90%;
    background-size: cover;
    background-position: 100% 0;
    transition: 8s;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
}
  
.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    opacity: 0;
    transition: 2s;
    border-radius: 10px;
}

.a-link {
    color: hsla(71, 72%, 81%, 0.842);
    text-decoration: none;
    font-size: 1.5rem;
}
  
.img-port:hover .overlay {
    opacity: 1;
}

.img-person .img-port {
    object-fit: cover;
}