#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
}

ul {
  font-size: 20px;
  font-weight: 500;
}

ul li:hover {
  color: rgb(207, 207, 209);
  cursor: pointer;
  border-bottom: 1px solid rgb(207, 207, 209);
}