/* index  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* search  */

h2 {
  margin-right: 10px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify {
  justify-content: space-between;
}

.section {
  background-color: #138a0f;
  border: 2px solid gray;
  padding: 34px;
  border-radius: 24px;
  width: 75%;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  justify-content: space-around;
}

.form-div {
  margin-left: 10px;
  align-items: center;
}
/*


.form-div {
  margin: 0px 10px;
}

*/
/* .div-buttons {
  margin-right: 20px;
  display: flex;
  
}  */


.select {
  height: fit-content;
  margin: auto;
  margin-left: 5px;
}
.button {
/* estilo do primeiro botão  */
  margin: auto 10px;
  border-radius: 4px;
  height: 40px;
  width: 120px; 
}

@media screen and (max-width: 980px) {
  .section {
    display: flex;
  } 

  .form {
    margin-left: 0;
  }

  .form-div {
    margin-right: 0;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .form-div .select {
    margin: 0;
  }

}

/* highlight */

.context-highlight {
  text-align: center;
  background-color:  #138a0f;
  padding: 20px;
  min-height: 80vh;
}

.context-highlight h1 {
  font-size: 2.5rem;
  color: hsl(0, 0%, 0%);
  margin-bottom: 20px;
}

.main-highlight {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}


.div-highlight {
  width: 46%;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: hsl(125, 48%, 69%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* tags do highlight */

/* .div-tags{
  padding-top: 10px;
  flex-wrap: wrap;
  margin:auto;
  width: 80%;
} */

.tag{
  margin: 4px 3px;
  border-radius: 10px;
  display: inline-block;
  background-color: #ddf8e7;
  border-radius: 10px;
  color: green;
  line-height: 10px;
  padding: 8px 6px;
  vertical-align: text-top;
}

.html{
  background-color: #f8dddd;
  color: red;
  border: red solid 1px;
}

.css{
  background-color: #d1e7dd;
  color: darkgreen;
  border: darkgreen solid 1px;
}

.react{
  background-color: #e6ddfa;
  color: purple;
  border: purple solid 1px;
}

.python{
  background-color: #ddedf8;
  color: blue;
  border: blue solid 1px;
}

.backend {
  background-color: #e5e5dc;
  color: brown;
  border: brown solid 1px;
}

.tailwind {
  background-color: #f2f2f2;
  color: gray;
  border: gray solid 1px;
}

/* Logo das redes sociais*/
 .social-logo{
  height: 40px;
  width: auto;
 }

.div-highlight .img-person {
  width: 180px;
  height: 180px;
  border-radius: 45%;
  margin-bottom: 12px;
  align-items: center;
}

.div-highlight .info-person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  margin-left: 30px;
}

.div-student {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.div-highlight .div-flex {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.img-port {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 100% 0;
  transition: 8s;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  opacity: 0;
  transition: 2s
}

.img-port:hover .overlay {
  opacity: 1;
}

.img-person .img-port {
  object-fit: cover;
}

.flex-justify {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1440px){
  .main-highlight {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .div-highlight {
    width: 70%;
  }
  
  .div-highlight .div-flex {
    width: 100%;
    height: 457px;
  }
}


@media screen and (max-width: 1070px) {
  .container-button {
    width: 100%;
  }

  .context-highlight {
    width: 100%;
  }

  .div-student {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .div-highlight .info-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  /* section div {
    width: 50%;
  } */


}
@media screen and (max-width: 980px) {
/* Estilos para dispositivos pequenos */

  .main-highlight {
    flex-direction: column;
    align-items: center;
    gap: 34px; 
    /* background: yellow; */
  }

  .div-highlight {
    width: 100%;
    flex-direction: column;
  }


  section {
    display: flex;
    /* flex-wrap: wrap; */
  }

  /*alterações no css */

  .container-button {
    width: 100%;
  }

  section div {
    flex: 1;
    margin-right: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .form-div {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form .button {
    width: 100px;
    padding: 4px;
  }

}

/* header */

.container-home {
  background-color: rgba(25, 87, 25, 0.856);
}

/* header */

header .container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #138a0f;
  border-color: transparent;
}

.container-button a {
  padding: 18px 18px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #138a0f;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.3s ease-in;
  text-decoration: none;
  color: inherit;
}

.container-button a:hover {
  letter-spacing: 3px;
  background-color: hsl(125, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(70, 220, 24) 0px 7px 29px 0px;
}

.container-button a:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


/* @media screen and (max-width: 768px) {
  .container-button .button-options {
    display: block;
  } */

/* .container-button button {
    border-radius: 0;
  }
} */

/* @media(min-width: 900) {
  .container-button {
    width: 100%;
  }

  .context-highlight {
    width: 100%;
  } */
/* } */